<nav class="nav">
    <div class="logo">
        <a href="javascript:;" class="logo__link">
            <h1>Notefolio</h1>
        </a>
    </div>
    <div class="nav__content">
        <div class="nav__content--user">
            <i class="fas fa-user-cog"></i>
            <span>User</span>
        </div>
        <ul class="nav__content--list">
            <li class="nav__content--item">
                <a href="/admin/manage">
                    <i class="fab fa-flipboard"></i>
                    <span>카테고리 관리</span>
                </a>
            </li>
            <li class="nav__content--item">
                <a href="/admin/memberEdit">
                    <i class="fas fa-unlock-alt"></i>
                    <i class="fa-sharp fa-solid fa-image"></i>
                    <span>회원정보 수정</span>
                </a>
            </li>
            <li class="nav__content--item">
                <a href="/admin/memberEdit">
                    <i class="fas fa-sharp fa-solid fa-image-landscape"></i>
                    <span>이미지 관리</span>
                </a>
            </li>
        </ul>
    </div>
</nav>