<meta charset="UTF-8">
<title>notefolio</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->

<!-- CSS -->
<link href="/user/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/user/css/style.css" rel="stylesheet" type="text/css" />
<link href="/lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />

<!-- JS -->
<!-- jQuery 3.6.0 -->
<script src="/lib/jquery/jquery-3.6.0.min.js"></script>

<!-- jQuery UI(sortDrag) -->
<script src="/lib/jqueryUi/jquery-ui.min.js"></script>

<!-- Validate -->
<script src="/lib/jqueryValidate/jquery.validate.min.js"></script>
<script src="/lib/jqueryValidate/additional-methods.min.js"></script>

<!-- lodash -->
<script src="/lib/lodash.min.js"></script>

<!-- Infinity ajax scroll -->
<script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>

<!-- common -->
<script src="/admin/js/common.js"></script>
