<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head.ejs') %>
    <script src="/user/js/user.js"></script>
</head>
<body>
    <%-include('./nav.ejs') %>
    <section id="wrap" class="wrap">
        <div id="profile" class="profile"></div>
        <div id="note" class="note">
            <ul id='subCategory' class='sub-category'></ul>
            
            <div class="container">
                
            </div>

            <!-- <div id="noteList" class='note-list'></div>
            <div id="notePage" class='note-page'></div> -->
        </div>

        <div id="pop" class="layer-n">
            <div class="bg"></div>
            <div class="layer-box">
                <div class="pop-area"></div>
            </div>
        </div>

    </section>
</body>
</html>