/* password modify */
.password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .password-wrap{
        width: 300px;
        .password-title {
            margin: 0 0 30px 0;
            text-align: center;
            h1 {
                font: {
                    size: 22px;
                    weight: bold;
                }
            }
            p {
                font-size: 14px;
                color: #888;
                margin-top: 10px;
            }
        }
        .form-box{
            margin-bottom: 15px;
            input {
                height: 40px;
                margin-bottom: -1px;
                border-color: #E0E0E0;
                padding: 0 12px;
                line-height: 40px;
                border: 1px solid #ddd;
                font-size: 14px;
                width: 100%;
                &:first-child{
                    background: #eee;
                }
                &::placeholder{
                    color: #888;
                }
            }
        }
        .password-txt {
            display: flex;
            font-size: 12px;
            margin-top: 10px;
            .password-help {
                font-size: 12px;
            }
            .password-check {
                font: {
                    weight: bold;
                    size: 13px;
                }
            }
            a {
                margin-left: auto;
                color: #1A6DFF;
            }
        }
    }
}